{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'csshake.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <title>{% block title %}{% endblock%}</title>

</head>
<style>
  {% block style %}
  {% endblock style %}

  .zoom {
    transition: transform .3s;
    /* Animation */
  }

  .zoom:hover {
    transform: scale(1.03);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
</style>

<body>

  <nav class="navbar navbar-expand-lg sticky-top px-5" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'Logo.svg' %}" alt="Daneshkar"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog:main' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:about_us' %}">about us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:blog' %}">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:gallery' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product:product-list' %}">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shopping_basket:view_cart' %}">Basket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'peyment:payment-page' %}">Peyment</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">{{user.username}}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">login</a>
          </li>
          {% endif %}


          <li class="nav-item position-absolute end-0">
            <a class="nav-link" href="/administrator">Admin</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
  {% include 'message.html' %}
  <!-- <footer class="bg-dark w-100 text-light text-center py-3 position-fixed bottom-0 opacity-75" style="height: 50px;">
    <div class="container">
      <p>&copy; 2024 My Company. All rights reserved.</p>
    </div>
  </footer> -->

  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>

</html>