<!-- cart/view_cart.html -->
{% extends "master.html" %}

{% block content %}
<div class="container-sm">
    <table class="table table-striped table-hover shadow-lg m-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Unit proce</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sum</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.product.name }}</td>
                <td>${{ item.unit_price}}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.sum }}</td>
            </tr>
            {% endfor %}
            <tr class="table-info">
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Price:</strong></td>
                <td><strong>${{ total_price }}</strong></td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'shopping_basket:clear-cart' %}" class="btn btn-primary">Clear Buying Basket</a>
    <a href="{% url 'peyment:payment-page' %}" class="btn btn-primary">Submit Orders</a>
</div>

{% endblock content %}