{% extends "master.html" %}
{% load static %}

{% block title %}
Peyment
{% endblock%}

{% block content %}
<div class="container-lg text-center my-3 p-3 rounded-1" style="background-color: rgb(206, 221, 240);">
    <h3 class="section-title">Peyment</h3>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2">

        <div class="col">
            <a href="{% url 'peyment:resault' 0 %}" class="btn btn-warning">Unsuccessful peyment</a>
        </div>
        <div class="col">
            <a href="{% url 'peyment:resault' 1 %}" class="btn btn-success">Successful peyment</a>
        </div>
        <div class="col m-auto">
            <h4>Total Price:{{total_price}}</h4>
        </div>
    </div>

</div>
{% endblock %}