{% extends "master.html" %}
{% load static %}

{% block title %}
Peyment Status
{% endblock%}

{% block content %}
<div class="container-lg text-center my-3 p-3 rounded-1" style="background-color: rgb(206, 221, 240);">
    <h3 class="section-title">Peyment Status</h3>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1">

        <div class="col text-center">
            {% if status_code == 0 %}

            <div class="alert alert-danger m-auto" role="alert">
                <p>Sorry! You Have An Unsuccessful Payment!</p>
            </div>
            {% else %}
            <div class="alert alert-success m-auto" role="alert">
                <p>Your payment was successful!</p>
            </div>

            {% endif %}
        </div>

    </div>
</div>
{% endblock %}